@model IEnumerable<GacXep.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            Ngày đặt hàng
        </th>
        <th>
            Số điện thoại khách hàng
        </th>
        <th>
            Địa chỉ giao hàng
        </th>
        <th>
            Tổng số tiền
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CusPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressDeliverry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }, new {@class="btn btn-outline-dark"}) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }, new {@class="btn btn-outline-info"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID }, new {@class="btn btn-outline-warning"})
        </td>
    </tr>
}

</table>
