@model IEnumerable<GacXep.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />


<div style="margin: 10px auto; width: 90%">
    <h2 style="text-align: center">QUẢN LÝ SẢN PHẨM</h2>
    <p>
        @Html.ActionLink("Thêm", "Create", "null", new { @class = "btn btn-primary" })
    
        @Html.ActionLink("Thêm chi tiết cho sản phẩm", "Index", "BookDetails", "null", new { @class = "btn btn-primary" })
    
        @Html.ActionLink("Chỉnh sửa tác giả", "Index", "Author", "null", new { @class = "btn btn-primary" })
    
        @Html.ActionLink("Chỉnh sửa nhà xuất bản", "Index", "Publisher", "null", new { @class = "btn btn-primary" })
    </p>

    <hr />

    <table class="table table-bordered" style="margin-left: auto; margin-right: auto">
        <tr>
            <th>
                THỂ LOẠI
            </th>
            <th>
                TÊN SÁCH
            </th>
            <th>
                BÌA SÁCH
            </th>
            <th style="text-align: center">
                MÔ TẢ
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.NameCate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProName)
                </td>
                <td>
                    <img src="@Url.Content(item.ProImage)" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameDecription)
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.ProID }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Sửa", "Edit", new { id = item.ProID }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.ProID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
</div>